<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style type="text/css">
        .container{
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center; 
        }
    </style>
</head>
<body style="background-color: black;">
    <h1 style="color: white; text-align: center;"><span style="color: red;">COVID-19</span> WORLDWIDE DATA</h1>

    <form method="POST" action="" style="margin-top: 50px;" class="d-flex justify-content-center align-items-center">
        {% csrf_token %}
        <select class="form-control" style="width: 200px;" name="selectedcountry">
            {% for country in mylist %}
            <option>{{country}}</option>
            {%endfor%}
        </select>
        <input type="submit" name="" value="Submit" class="btn btn-danger"/>
    </form>

    <h1 style="margin-top: 100px; color: white; text-align: center;">{{selectedcountry}}</h1>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container" style="border-radius: 10px; background-color: orange; height: 100px; width: 200px;">
            <h1>{{total}}</h1>
            <p>total cases</p>
        </div>
        <div class="container" style="border-radius: 10px; background-color: green; height: 100px; width: 200px;">
            <h1 style="color: white;">{{recovered}}</h1>
            <p style="color: white;">recovered</p>
        </div>
        <div class="container" style="border-radius: 10px; background-color: yellow; height: 100px; width: 200px;">
            <h1>{{active}}</h1>
            <p>active</p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container" style="border-radius: 10px; background-color: skyblue; height: 100px; width: 200px;">
            <h1>{{new}}</h1>
            <p>new</p>
        </div>
        <div class="container" style="border-radius: 10px; background-color: red; height: 100px; width: 200px;">
            <h1 style="color: white;">{{critical}}</h1>
            <p style="color: white;">critical</p>
        </div>
        <div class="container" style="border-radius: 10px; background-color: grey; height: 100px; width: 200px;">
            <h1>{{death}}</h1>
            <p>death</p>
        </div>
    </div>
    <p style="color: grey; text-align: center; margin-top: 140px;">Developed by <span style="color: white;">kiciorb &copy;</span></p>
</body>
</html>